body {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("backgroundPic.jpg");
  background-size: cover;
}

ul {
  list-style: none;
  font-size: 30px;
}

a {
  margin-left: 25px;
}
.strikethrough {
  text-decoration-style: strikethrough;
}
header {
  text-align: center;
  font-family: sans-serif;
  line-height: 15px;
  color: white;
  padding-bottom: 50px;
  text-shadow: 1px 1px black;
}

h1 {
  font-size: 60px;
}

input {
  background-color: white;
  margin-left: 25%;
  opacity: .6;
  color: black;
  font-size: 25px;
  height: 25px;
  border-radius: 10%;
  border-bottom: 1px solid black;
}

label {
    font-size: 24px;
    margin-left: 32%;
    ;
  }

#addTask {
  border-radius: 30%;
  border: 1px solid black;
  background-color: #6E6F73;
  opacity: .7;
  height: 20px;
  margin: 5px 0 0 10px;
  color: white;
}


}
